Makefile.in
*.o
core.*
.libs/*
.deps/*
.libs
.deps
*.lo
.*.sw*
*.orig
*.rej
*~
configure
config.h*
*-test
*.la
config.log
build-tools
config.status
libtool
autom4te.cache
Makefile
aclocal.m4
*.tar.bz2
*.patch
stamp-*
*.rpm
plymouth
plymouth-generate-initrd
plymouth-populate-initrd
plymouth-set-default-theme
plymouth-log-viewer
plymouth-upstart-bridge
plymouthd
plymouthd-fd-escrow
*.pc
tags
*.bck
*.string
*.plymouth
*.script.h
*.service
*.path
docs/*.8
docs/*.1
ABOUT-NLS
m4
.dirstamp
/.cache
/compile_commands.json
