.deps
m4/
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
*~

po/remove-potcdate.sed
po/insert-header.sed
po/stamp-po
po/POTFILES
*.gmo

*.o

xdg-user-dir-lookup
xdg-user-dirs-update

xdg-user-dirs-*.tar*
