# the gtkbuilder files
include data/LanguageSelector.ui

# the language data
include data/languagelist

# desktop file
include data/gnome-language-selector.desktop.in
include data/language-selector.png

# the translations
recursive-include po/ *.pot *.po
