# the gtkbuilder files
include data/LanguageSelector.ui

# the language data
include data/countries data/languagelist data/languages

# desktop file
include data/language-selector.desktop
include data/language-selector.png

# the translations
recursive-include po/ *.pot *.po *.mo
