<?xml version="1.0" encoding="UTF-8" ?>
<service id="MyService2">
  <type>calendar</type>
  <name>My Service #2</name>
  <icon>general_myservice2</icon>
  <provider>maemo</provider>

  <!-- default settings (account settings have precedence over these) -->
  <template>
    <group name="parameters">
      <setting name="server">youtube.com</setting>
    </group>
  </template>

</service>
