<?xml version="1.0" encoding="UTF-8" ?>
<service id="OtherService">
  <type>sharing</type>
  <name>Other Service</name>
  <icon>general_otherservice</icon>
  <provider>other_provider</provider>
  <tags>
      <tag>video</tag>
      <tag>sharing</tag>
  </tags>
  
  <!-- default settings (account settings have precedence over these) -->
  <template>
    <group name="parameters">
      <setting name="server">talk.google.com</setting>
      <setting name="port" type="i">5223</setting>
      <setting name="old-ssl" type="b">true</setting>
      <setting name="fallback-conference-server">conference.jabber.org</setting>
    </group>
  </template>

</service>
