#Tests: start-service
# start-service currently disabled; it needs services running for it to pass
# and that currently can't be setup properly in a buildd.
Depends: python3-aptdaemon.test, policykit-1, accountsservice, consolekit, indicator-session
Restrictions: build-needed
