/* FIXME: This ‘negative’ variant of a GtkSwitch should probably be
 * upstreamed to GTK. See https://gitlab.gnome.org/GNOME/gtk/issues/2470 */
switch:checked.restricts {
  background-color: #fffd33;
}

switch:checked.restricts, switch:checked.restricts slider {
  border-color: #ffd52b;
}

switch:disabled.restricts {
  border-color: @borders;
  background-color: @insensitive_bg_color;
}

switch:disabled.restricts slider {
  border-color: #bfb8b1;
}
