[Unit]
Description=Show Plymouth Boot Screen
DefaultDependencies=no
Wants=systemd-ask-password-plymouth.path systemd-vconsole-setup.service
After=systemd-vconsole-setup.service systemd-udev-trigger.service systemd-udevd.service
Before=systemd-ask-password-plymouth.service
ConditionKernelCommandLine=!plymouth.enable=0
ConditionVirtualization=!container
IgnoreOnIsolate=true

[Service]
ExecStart=/usr/local/sbin/plymouthd --mode=boot --pid-file=${prefix}/var/run/plymouth/pid --attach-to-session
ExecStartPost=-/usr/local/bin/plymouth show-splash
Type=forking
RemainAfterExit=yes
KillMode=mixed
SendSIGKILL=no
