[Desktop Entry]
Name=Bamf Qml APP
Exec=qmlscene bamf_qml_app.qml
Icon=bamf-qml-icon
Terminal=false
Type=Application
StartupNotify=true
OnlyShowIn=GNOME;Unity;
