[Desktop Entry]
Name=Mouse and Touchpad
Comment=Set your mouse and touchpad preferences
Exec=gnome-control-center mouse
Icon=input-mouse
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
