#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Mime Text Editor
GenericName=Text Editor
Exec=mime-test-text-editor %F
Terminal=false
Type=Application
MimeType=text/plain;text/x-chdr;text/x-csrc;text/html;text/css;text/x-diff;application/xml;
Categories=TextEditor;Development;Utility;
