[Desktop Entry]
Name=Default
Comment=Interactive viewer for a Default icon!
Exec=gedit
Terminal=false
Type=Application
Categories=GTK;Science;Graphics;
